body {
  margin: 0;
  padding: 0;
  font-family: 'Young Serif', serif;
  background:hsl(30, 54%, 90%);
  /* color: var(--text-color); */
}
@media (max-width: 431px){
  body{
    background: hsl(0, 0%, 100%);
  }
}

.containerBody {
  justify-content: center;
  align-items: center;
  display:flex;
  flex-direction: column;
}

.containerMain {
  background:hsl(0, 0%, 100%);
  width:50%;
  border-radius: 2rem;
  padding: 2rem;
  margin: 8rem;
  font-size: 0.75rem;
}
@media (max-width: 431px){
  .containerMain {
    width:auto;
    border-radius: 0;
    padding: 1rem;
    margin: 1rem;
  }
}

  
.centered-image {
  max-width: 100%;
  height: auto; 
  border-radius: 0.5rem;
}
@media (max-width: 431px){
  .centered-image{
    width: calc(100% + 4rem); 
    margin: -2rem -2rem 2rem -2rem;
    border-radius: 0;
    display: block;
    max-width: none; 
  }
}

.summary-title {
  font-size: 2.25rem;
  margin: 1.25rem 0;
}
.summary-title p {
  padding: 0.5rem 0;
  font-size: 1rem;
}

.summary-time{
  background:hsl(330, 100%, 98%);
  padding: 1rem;
  border-radius: 1rem;
}
.summary-time h2{
  margin: 1rem 0 0 0;
  color: hsl(332, 51%, 32%);
  }
.summary-time li{
  padding:0.5rem 1rem;
  }
 
  
ul, ol{
  margin: 0;
  padding:1rem 1.5rem 1rem 1rem;
  line-height: 1.5rem;
}
li {
  padding:0 1rem;
}
li::marker{
  font-weight:bold;
  color:hsl(332, 51%, 32%);
}
  
.Ingredients h2, .Instructions h2, .Nutrition h2{
  margin: 1.5rem 0 0 0;
  font-size: 2rem;
  color: hsl(332, 51%, 32%);
}

.Ingredients, .Instructions, .Nutrition{
  border-bottom: 1px solid hsl(30, 18%, 87%);
}
    
.table {
  width: 100%;
  border-collapse: collapse; /* Ensures borders don't double up */
  .data{
    color:hsl(332, 51%, 32%);
  }
  th, td {
    border-bottom: 1px solid hsl(30, 18%, 87%); /* Adds horizontal lines */
    padding: 0.5rem 1.25rem;
    text-align: left;
  }
}
